@model Entities.TournamentType

@{
    ViewBag.Title = "Details";
}

<div>
   <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
</div>
<p>
   @Html.ActionLink("Back to List", "Index", null, new {@class="btn btn-info"})
</p>
