@model IEnumerable<Entities.TournamentType>

@{
    ViewBag.Title = "Index";
}

<h2>Tournament Types</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }, new {@class= "btn btn-warning"}) 
            @Html.ActionLink("Details", "Details", new { id=item.Id }, new { @class = "btn btn-info" })
    </tr>
}

</table>
